<div class="scrollable" ng-controller="homeController">
    <div class="scrollable-content section_login">
        <div class="section">

            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <a href="{{slide.url}}" target="_blank">
                        <img ng-src="{{slide.image}}">
                    </a>
                    <div class="carousel-caption">

                    </div>
                </slide>
            </carousel>

            <!--teste-->

            <div ng-repeat="row in Lista" class="welcome">
                <div class="welcm-grids">
                    <div class="welcm-info">
                        <h3>{{row.post_title}}</h3>
                        <p ng-bind-html="SkipValidation(row.post_content)">
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>


            <!--<div class="welcome">
                <div class="welcm-grids">
                    <div class="welcm-info">
                        <h3>A Moça do Táxi</h3>
                        <p>
                            O roteiro desta produção videográfica é uma adaptação extraída do conto literário, inspirado em narrativas de moradores da cidade: “A Moça do Táxi”, escrito pelo jornalista e sociólogo brasileiro, Walcyr Monteiro (1972). “A Mulher do Taxi”, narra fragmentos da vida, de Josephina Conte, uma menina que faleceu aos 16 anos em Belém no início do século XX.
                        </p>

                        <iframe width="270" height="226" src="https://www.youtube.com/embed/Zmg_D0LrkN4" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>-->



        </div>
    </div>
</div>