<div ng-controller="NewUserController">
    <div ui-content-for="title">
        <span>Forms</span>
    </div>
    <div class="scrollable">
        <div class="scrollable-content section">

            <form role="form" ng-submit='Registro()'>
                <fieldset>
                    <legend>Novo Usuário</legend>

                    <div class="form-group has-success">
                        <label>Nome</label>
                        <input type="text"
                               ng-model="record.usr_name"
                               class="form-control"
                               placeholder="Seu Nome">
                    </div>

                    <div class="form-group has-success">
                        <label>Email</label>
                        <input type="email"
                               ng-model="record.usr_email"
                               class="form-control"
                               placeholder="Seu Email">
                    </div>

                    <div class="form-group has-success">
                        <label>Senha</label>
                        <input type="password"
                               ng-model="record.usr_senha"
                               class="form-control"
                               placeholder="Sua Senha">
                    </div>

                </fieldset>
                <hr>
                <button class="btn btn-primary btn-block" type="submit">
                    Registrar
                </button>
                


            </form>
        </div>
    </div>
</div>