<div ng-controller="EditUsuarioController">

    <form class="col-md-6" ng-submit="Registro()">
        <div class="form-group">
            <label for="xx">Nome</label>
            <input type="text" class="form-control" ng-model="ObjetoEdit.usu_nome" placeholder="Nome do Usuário" required>
        </div>

        <div class="form-group">
            <label for="xx">Email</label>
            <input type="email" class="form-control" ng-model="ObjetoEdit.usu_email" placeholder="Email do Usuário" required>
        </div>

        <button type="submit" class="btn btn-default">Alterar</button>
        Status {{Resultado}}
    </form>

</div>
