<div ng-controller="LoginController">
    <div ui-content-for="title">
        <span>Forms</span>
    </div>
    <div class="scrollable">
        <div class="scrollable-content section">

            <form role="form" ng-submit='login()'>
                <fieldset>
                    <legend>Entrar</legend>
                    <div class="form-group has-success has-feedback">
                        <label>Email</label>
                        <input type="email"
                               ng-model="email"
                               class="form-control"
                               placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label>Senha</label>
                        <input type="password"
                               class="form-control"
                               placeholder="Password">
                    </div>

                </fieldset>
                <hr>
                <button class="btn btn-primary btn-block">
                    Entrar
                </button>
                <div ui-content-for="navbarAction">
                    <a class='btn' ng-click='login()'>Login</a>
                </div>

                <button class="btn success btn-block">
                    Criar Conta
                </button>
            </form>
        </div>
    </div>
</div>